{% extends 'ideas/base.html' %}
{% block body_block %}
 <div class="container mt-5">

  <h4 class="text-center text-info mb-3 font-italic figure-caption">Found {{queryset.count}} Idea(s) that matched your search!</h4>


  <div class="accordion" id="postModal">
    {% for post in queryset %}

      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{post.id}}" aria-expanded="true" aria-controls="collapseOne"><i class="fas fa-hand-point-down"></i> {{post.title}}</button>
          </h2>
        </div>
    
        <div id="collapse{{post.id}}" class="collapse hide" aria-labelledby="headingOne" data-parent="#postModal">
          <div class="card-body">
            <p class="lead">{{post.content | safe }}</p>
            <p class="text-muted">Posted by: <a href="{% url 'ideas:member_details' post.author.id %}">{{post.author.username}}</a> on {{post.created_at}}</p>
          </div>
        </div>
      </div>

    {% endfor %}
    
 </div>
{% endblock %}